#Formations .timeline-container {
  * {
    box-sizing: border-box;
  }
}

.timeline-container .parcours {
  background-color: rgb(255, 255, 255);
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline-container .parcours::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #E6EBE0;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container .event {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container .event::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-container .left {
  left: 0;
}

.timeline-container .right {
  left: 50%;
}

.timeline-container .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #E6EBE0;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #E6EBE0;
}

.timeline-container .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #E6EBE0;
  border-width: 10px 10px 10px 0;
  border-color: transparent #E6EBE0 transparent transparent;
}

.timeline-container .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
